*.DS_Store
*.log
*.txt

# IDEs
.vscode
.idea

# ts
tsconfig.*
tslint.json

#shell
.qshell

# pack files
*.tgz
.*.swp
._*
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
*.html
yarn.lock

# unit test
mochawesome-report

